{
  "singleQuote": true,
  "semi": true,
  "printWidth": 999999,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve"
}